<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/footer.css') }}" />{% endblock %}

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ path('home') }}">Accueil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
                {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item {% if mainNavAdmin is defined %}active{% endif %}">
                <a class="nav-link" href="{{ path('admin') }}">Espace admin</a>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user_index') }}">User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('host_table_index') }}">Table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('reservation_index') }}">Réservation</a>
            </li>
        </ul>
            {% endif %}

        {% if app.user %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{{ path('logout_route') }}" class="nav-link">Se déconnecter</a>
                </li>
            </ul>
        {% else %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{{ path('app_login') }}" class="nav-link">Se Connecter</a>

                </li>
                <li>
                    <a href="{{ path('user_new') }}" class="nav-link">S'inscrire</a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>

{% block body %}{% endblock %}

<footer class="footer navbar-fixed-bottom">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav d-flex justify-content-around nav-footer">
                    <a class="nav-item nav-link" href="/source/contact.html">Contact</a>
                    <a class="nav-item nav-link" href="#">Equipe</a>
                    <a class="nav-item nav-link" href="#">Service</a>
                    <a class="nav-item nav-link" href="#">
                        <img src="{{ asset('images/facebook.jpg') }}" alt="logo" height="30px">
                    </a>
                </div>
            </div>
        </div>
    </nav>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
